.header {
  background-color: black;
  padding: 20px;
  border-bottom: 2px solid white;
}

.header-title {
  display: flex;
  align-items: center;
  float: left;
  margin-top: 1px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  color: orange;
  width: 40%;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-item {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: orange;
}